:root {
    --accent-color: #2196f3;
    --header-logo-studio-color: #000000;
    --footer-logo-studio-color: #ffffff;

    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;

    --nav-link-text-color: #212121;

    --primary-title-color: #212121;
    --secondary-title-color: #ffffff;

    --icons-color: #afb1b8;

    --bg-site-color: #f5f5f5;
    --bg-footer-color: #2f303a;
    --bg-hero-color: #c4c4c4;
    --bg-features-icon-color: #f5f4fa;
    --bg-team-section-color: #f5f4fa;
    --bg-team-card-color: #ffffff;

    --footer-contacts-color: rgba(255, 255, 255, 0.6);

    --team-font-size: 16px;
    --portfolio-text-font-size: 16px;
    --portfolio-title-font-size: 18px;
    --section-title-font-size: 36px;

    --portfolio-btn-bgcolor: #f5f4fa;
    --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}