.team {
  text-align: center;
  background-color: var(--bg-team-section-color);
  & .section-title {
    padding-top: 0;
    margin-bottom: 50px;
  }
  & .card-description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team-list {
  display: flex;
  flex-basis: calc((100% - 90px) / 4);
  column-gap: 30px;
}

.team-list-item {
  background-color: var(--bg-team-card-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--primary-title-color);
}

.team-title,
.team-text {
  font-size: var(--team-font-size);
  line-height: 1.19;
}

.team-text {
  margin-bottom: 16px;
}

.social-links-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.social-icon {
  fill: var(--icons-color);
  transition: fill var(--transition-time);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--transition-time);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    .social-icon {
      fill: #ffffff;
    }
  }
}
