.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-list-item {
  flex-basis: calc((100% - 60px) / 3);
  background-color: #ffffff;
}

.example-link {
  display: block;
  transition: box-shadow var(--transition-time);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    .overlay {
      transform: translateY(0);
    }
  }
}

.examples .card-description {
  padding: 20px 24px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;

  font-size: var(--portfolio-title-font-size);
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-title-color);
}

.portfolio-text {
  font-size: var(--portfolio-text-font-size);
  line-height: 1.88;
}

/* overlay */

.example-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform var(--transition-time);
  background-color: rgba(33, 150, 243, 0.9);
}

.example-description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
